$('.modal').remove();
$('body').append("#{escape_javascript(render(partial: 'web/v1/dailies/edit_value', object: @daily, as: 'daily'))}");
$('.modal').show();

$('button.close').on('click', function() { $('.modal').remove(); });
