// sass variable overrides
// $body-bg: aliceblue;

@import "~bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free";

h3 {
  font-size: 2rem;
  padding: 0 0 0 1rem;
}

h4 {
  font-size: 1.5rem;
}

.progress {
  font-size: 2rem;
  height: 3rem;
  margin: 0.5rem 0;
}

@include media-breakpoint-down(lg) {
  $font-size-base: 3rem;

  h3 {
    font-size: 4rem;
    padding: 0 0 0 2rem;
  }

  h4 {
    font-size: 3rem;
  }

  body, .navbar-brand, .btn, .form-control, .navbar-toggler, .tooltip-inner {
    font-size: $font-size-base;
  }

  .progress {
    font-size: 3rem;
    height: 4rem;
    margin: 1rem 0;
  }

  .container {
    max-width: 100%;
  }

  .table th, .table td {
    padding: 1.5rem;
  }
}

.button-above-table {
  margin: $font-size-base 0;
}

.field_with_errors label,
.field_with_errors .form-control-feedback,
.field_with_errors .form-control-label,
.field_with_errors .col-form-label,
.field_with_errors .form-check-label,
.field_with_errors .custom-control {
  color: #d9534f;
}

.field_with_errors .form-control {
  border-color: #d9534f;
}

.field_with_errors .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7;
}

.flash-alert {
  position: fixed;
  top: 5vh;
  left: 5vw;
}

.dailies-section {
  padding: 2rem 0;
  border-bottom: 0.1rem solid #c6c8ca;
}

.daily-item {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;

  a {
    font-weight: bold;
    font-size: 120%;
  }

  span {
    font-weight: bold;
    font-size: 120%;
    padding: 0 0 0 1%;
  }
}

@include media-breakpoint-down(lg) {
  .dailies-section {
    padding: 3rem 0;
    border-bottom: 0.2rem solid #c6c8ca;
  }

  .daily-item {
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;

    a {
      font-weight: bold;
      font-size: 120%;
    }

    span {
      font-weight: bold;
      font-size: 120%;
      padding: 0 0 0 3%;
    }
  }
}

.daily-item-pending {
  background-color: #cce5ff;

  a {
    color: #004085;
  }
}

.daily-item-failed {
  background-color: #f8d7da;

  a {
    color: #721c24;
  }
}

.daily-item-success {
  background-color: #d4edda;

  a {
    color: #155724;
  }
}

.stats-section {
  padding: 2rem 0;
}

.stats-row {
  padding: 0 0 0 1rem;
}

.stats-goal-name {
  font-size: 100%;
}

.stats-day {
  width: 3vw;
  height: 3vw;
  border: 0.1rem solid white;
}

@include media-breakpoint-down(lg) {
  .stats-section {
    padding: 3rem 0;
  }

  .stats-row {
    padding: 0 0 0 2rem;
  }

  .stats-goal-name {
    font-size: 75%;
  }

  .stats-day {
    width: 6vw;
    height: 6vw;
    border: 0.1rem solid white;
  }
}

.stats-pending {
  background-color: #eeeeee;
}

.stats-failed {
  background-color: #dc3545;
}

.stats-success {
  &.stats-incentive-none {
    background: linear-gradient(to bottom right, #28a745 50%, #eeeeee 50%);
  }

  &.stats-incentive-success {
    background-color: #28a745;
  }

  &.stats-incentive-failed {
    background: linear-gradient(to bottom right, #28a745 50%, #dc3545 50%);
  }
}

.analytics-section {
  padding: 2rem 0;
}

.analytics-row {
  padding: 0 1rem;
}

@include media-breakpoint-down(lg) {
  .analytics-section {
    padding: 3rem 0;
  }

  .analytics-row {
    padding: 0 2rem;
  }
}

.form-signin {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  margin: auto;
}
